body, html {
	height: 100%;
}

body {
	background: url(https://snap-photos.s3.amazonaws.com/img-thumbs/960w/OJ7K7B2UYI.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: orange;
	padding: 0;
	margin: 0;
}

#topheader {
	position: fixed;
	background: #333;
	height: 50px;
	padding: 10px;
	width: 100%;
	z-index: 99;
}

#topheader h1 {
	font-family: arial;
}

.box {
	width: 30%;
	max-width: 300px;
	height: 100px;
	padding: 10px;
	margin: 20px;
	background: rgba(355,0,0 0.5);
	color: #333;
	position: relative;
	float: right;
}

.innerbox {
	width: 50%;
	position: absolute;
	border: 10px;
	color: rgba(248,0,0, 0.5);
	background: blue;
}

.imgText {
	font-size: 50px;
	position: relative;
	top: 55px;
	left: 100px;
}