/* NAV BAR STARTS HERE */
header {
  height: 40%;
  background: #BCED91;
  color: #fff;
  padding: 30px;
}

h1 {
  margin: 0;
  font-family: impact;
}

#mainnav {
  margin-top: 10px;
  text-transform: uppercase;
}

#mainnav ul {
   margin: 0;
  padding: 0;
  list-style-type: none;
}

#mainnav ul li {
  display: inline;
  margin-left: 30px;
}

#logo {
  float: left;
}

.factscontent1 {
  margin-top: 10px;
  height: 600px;
  
}

.factscontent1 img {
  float: left;
  width: 47%;
}

.factstext1 {
  width: 50%;
  background-color: black;
  padding: 10px;
  color: white;
  margin-left: px;
  float: right;
}

.factscontent2 {
  height: 600px;
}

.factscontent2 img {
  float: right;
  width: 48%;
}

.factstext2 {
  width: 48%;
  background-color: black;
  padding: 10px;
  color: white;
  margin-left: px;
  float: left;
}

.factscontent3 {
  height: 600px;
}

.factscontent3 img {
  float: left;
  width: 50%;
}

.factstext3 {
  width: 48%;
  background-color: black;
  padding: 10px;
  color: white;
  margin-left: px;
  float: right;
}

.factscontent4 {
  height: 600px;
}

.factscontent4 img {
  float: right;
  width: 48%;
}

.factstext4 {
  width: 48%;
  background-color: black;
  padding: 10px;
  color: white;
  margin-left: px;
  float: left;
}

#sociallinks {
  float: right;
}

#sociallinks ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

#sociallinks ul li {
  display: inline;
}

#sociallinks img {
  height: 25px;
}

body {
  margin: 0;
  padding: 0;
  font-family: arial;
  background: url(http://www.alternet.org/files/styles/story_image/public/story_images/shutterstock_108874103-edited.jpg);
  background-position: center top;
}


#wrap {
 max-width: 1900px; 
 min-width: 300px;
  margin: auto;
}


.clear fix {
  clear: both;
  
}

main {
  max-width: 1900px;
  min-width: 300px;
  margin: auto;
  font-family: arial;
  position: relative;
}

/* NAV BAR ENDS HERE */

/*SLIDERS BEGIN HERE*/

#slider {
  max-width: 1900px;
  height: 55vw;
  max-height: 700px;
  position: relative;
  overflow: hidden;
  margin: auto;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  text-align: center;
  left: 100%;
  transition: left 1s;
}

#slide1 {
  background: url(../images/slidercontentpic1.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  left: 0;
}


#slide2 {
  background: url();
  background-size: 100%;
  background-repeat: no-repeat;
}

#slide3 {
  background: url();
   background-size: 100%;
  background-repeat: no-repeat;
}

#slide4 {
  background: url();
  background-size: 100%;
  background-repeat: no-repeat;
}

#slide5 {
  background: url();
  background-size: 100%;
  background-repeat: no-repeat
}

#slide6 {
  background: url();
  background-size: 100%;
  background-repeat: no-repeat
}

#slide7 {
  background: url();
  background-size: 100%;
  background-repeat: no-repeat
}


.button {
  position: absolute;
  z-index: 10;
  padding: 10px;
  top: 45%;
}

#next {
  right: 0;
  
}

@media screen and (max-width: 600px) {
}

.clear fix {
  clear: both;
  
}

/* SLIDERS ENDS HERE */

/* CONTENT BEGINS HERE */
.content-about {

}


/* CONTENT ENDS HERE */
footer {
	max-width: 1900px;
  height: 35px;
  background: #BCED91;
  color: #000;
  text-align: center;
  padding: 20px 0px;
  margin: auto;
}