body {

	font-family: gill sans, arial, sans-serif;
	color: #3a3a4a; /* Dark Purple */
	margin: 0;
	padding: 0;
}

#container {

	max-width: 1200px;
	margin: auto;
	box-shadow: 0px 0px 5px #9999;
}


header#top {

	background: #e0ddd4;
	padding: 1.6% 5.83%;
}

#logo {
	float: left;
}
header nav {
	float: right;
}
header nav ul {
	margin: 0;
	list-style-type: none;
	margin-bottom: 5px;
}

header nav ul li {
	display: inline-block;
	margin-left: 20px;
}

header nav ul li a:link {
	color: #3a3a4a;
	text-transform: uppercase;
}

.sm {
	display: block; 
	width: 35px;
	height: 35px;
	margin-bottom: -10px;
}

a[href$="instagram.com"] {
	background: url(../imgs/instagram.png);
}

a[href$="twitter.com"] {
	background: url(../imgs/twitter.png);
}

#banner {
	position: relative;
}

#bannerText {
	position: absolute;
	bottom: 0;
	color: #e0ddd4;
}
#bannerText h1 {
	font-size: 60px;
	text-transform: uppercase;
}

.col_720 {
	width: 60%;
	float: left;
	margin-right: 80px;

}
.col_260 {
	width: 21.6%;
	float: left;
	overflow: hidden;
	position: relative;
}

.col_320{
	width: 26.6%;
	float: left;
}

.col_320:nth-child(2) {
margin: 0 50px;

}

footer ul {
	padding: 0;
	list-style-type: none;
	columns: 50px 2;
	-webkit-columns: 50px 2;
	-moz-columns: 50px 2;
}

img {
	width: 100%;
}

.imgQuote {
	position: absolute;
	color: #e0ddd4;
	padding: 20px;
}

.asideText {
	text-align: center;
	padding: 20px;
}



aside {
	background: #e0ddd4;

}

footer {
	background: #3a3a4a;
	color: #e0ddd4;
}

.wrap {
	padding: 6.25% 5.83%;
}

.clearflt{
	clear: both;
}

/* TEXT ELEMENTS */

h1, h2 {
margin: 0;
padding: 0;

}

h1 {

font-family: cambria, georgia, serif;
font-size: 32px;
font-weight: normal;

}

h2 {
font-size: 24px;


}

p {
	font-size: 18px;
}

q {
	font-family: cambira, georgia, serif;
	font-size: 24px;
}

a:link {
	text-decoration: none;
	color: #189893; /* Blue */

}

@media screen and (max-width: 660px) {
	.col_720 {
		float: none;
		width: 100%;
		padding-bottom: 40px;
		border-bottom: 1px solid #333;
		margin-bottom: 40px;
	}
	.col_260 {
		float: none;
		width: 60%;
		margin: auto;
	}
}